
@{
    ViewBag.Title = "Car Repair System";
}

<div class="text-center">
    <h1>Car Repair System</h1>
    <h3>Please click the button below to begin registration!</h3>
    <a class="btn btn-primary" asp-action="Register">Car Registration</a>
</div>

